h1{
    color: red;
}

body{
    font-family: ariel;
}

#menu{
    border: 1px solid green;
}

#menu >ul{
    background-color:rgb(209, 214, 209);
}
#menu ul{
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

#menu ul a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 15px;
    display: block;
}

#menu ul li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
#menu ul ul {
    position: absolute;
    background: greenyellow;
    top: 100%;
    left: 0;
    display: none;

}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul ul{
top: 0px;
left: 100%;

}